In [1]:
import numpy as np
import pandas as pd
import geopandas as gpd

# Load the data
gdf_landuse_magok = gpd.read_file('../../data/land_use/magok_landuse.geojson')
gdf_landuse_magok = gdf_landuse_magok.dropna(subset=['A17'])
gdf_landuse_magok.head(3)

,A0,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A18,A19,A20,A21,A22,A23,A24,A25,A26,geometry
0,103430494,1150010100100050002,1150010100,서울특별시 강서구 염창동,1,일반,5-2,5-2천,2024,01,...,임야기타,02,평지,05,부정형,08,세로한면(가),191700.0,2025-01-20 19:13:09.451,"MULTIPOLYGON (((126.86767 37.55980, 126.86765 ..."
1,103432269,1150010100100050004,1150010100,서울특별시 강서구 염창동,1,일반,5-4,5-4 제,2024,01,...,도로등,00,지정되지않음,00,지정되지않음,00,지정되지않음,343200.0,2025-01-20 19:13:09.451,"MULTIPOLYGON (((126.86818 37.55981, 126.86814 ..."
2,103428006,1150010100100050005,1150010100,서울특별시 강서구 염창동,1,일반,5-5,5-5제,2024,01,...,도로등,00,지정되지않음,00,지정되지않음,00,지정되지않음,343200.0,2025-01-20 19:13:09.451,"MULTIPOLYGON (((126.86861 37.55966, 126.86846 ..."

In [2]:
gdf_residential_magok = gdf_landuse_magok[gdf_landuse_magok.loc[:,'A17'].str.startswith('1')]
gdf_residential_magok.loc[:,'landuse'] = 1
gdf_residential_magok = gdf_residential_magok.loc[:,['landuse','geometry']]
gdf_residential_magok.head(3)

c:\Users\seung\anaconda3\envs\geo\Lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

    landuse                                           geometry
4         1  MULTIPOLYGON (((126.86678 37.55944, 126.86677 ...
10        1  MULTIPOLYGON (((126.86711 37.55649, 126.86711 ...
20        1  MULTIPOLYGON (((126.86583 37.55869, 126.86584 ...

In [3]:
gdf_commercial_magok = gdf_landuse_magok[gdf_landuse_magok.loc[:,'A17'].str.startswith('2')]
gdf_commercial_magok.loc[:,'landuse'] = 2
gdf_commercial_magok = gdf_commercial_magok.loc[:,['landuse','geometry']]
gdf_commercial_magok.head(3)

c:\Users\seung\anaconda3\envs\geo\Lib\site-packages\geopandas\geodataframe.py:1443: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

    landuse                                           geometry
47        2  MULTIPOLYGON (((126.87060 37.55738, 126.87059 ...
48        2  MULTIPOLYGON (((126.87009 37.55728, 126.87027 ...
49        2  MULTIPOLYGON (((126.86918 37.55690, 126.86893 ...

In [15]:
gpd_magok_landuse = gpd.GeoDataFrame(pd.concat([gdf_residential_magok, gdf_commercial_magok], ignore_index=True))
gpd_magok_landuse.loc[:,'geometry'] = gpd_magok_landuse.loc[:,'geometry'].simplify(0.01, preserve_topology=True)

C:\Users\seung\AppData\Local\Temp\ipykernel_5348\1922695895.py:2: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  gpd_magok_landuse.loc[:,'geometry'] = gpd_magok_landuse.loc[:,'geometry'].simplify(0.01, preserve_topology=True)

In [17]:
gpd_magok_landuse.to_file('../../data/land_use/magok_landuse_processed.geojson', driver='GeoJSON')

In [16]:
gpd_magok_landuse

       landuse                                           geometry
0            1  POLYGON ((126.86678 37.55944, 126.86688 37.559...
1            1  POLYGON ((126.86711 37.55649, 126.86711 37.556...
2            1  POLYGON ((126.86583 37.55869, 126.86576 37.558...
3            1  POLYGON ((126.86581 37.55857, 126.86583 37.558...
4            1  POLYGON ((126.86709 37.55649, 126.86711 37.556...
...        ...                                                ...
23027        2  POLYGON ((126.79944 37.54471, 126.79937 37.544...
23028        2  POLYGON ((126.80098 37.54491, 126.80064 37.544...
23029        2  POLYGON ((126.79827 37.54639, 126.79946 37.546...
23030        2  POLYGON ((126.79940 37.54030, 126.79936 37.540...
23031        2  POLYGON ((126.79812 37.53843, 126.79827 37.538...

[23032 rows x 2 columns]