In [ ]:
import pandas as pd

In [38]:
df_magok_trips_peak = pd.read_json('../../data/bike_rental_history_weekday_community_peak.json')
df_magok_trips_peak = df_magok_trips_peak.loc[df_magok_trips_peak.loc[:,'origin_station_id'] != df_magok_trips_peak.loc[:,'desti_station_id'], :]
df_magok_trips_peak = df_magok_trips_peak.loc[df_magok_trips_peak.loc[:,'community']==0]

In [39]:
df_magok_trips_peak.head()

,birth_year,gender,user_type,origin_station_id,desti_station_id,rent_hour,return_hour,rent_minute_of_day,return_minute_of_day,community,origin_lat,origin_lng,origin_dist_to_subway,desti_lat,desti_lng,desti_dist_to_subway
0,1985,M,내국인,ST-2044,ST-2031,8,8,500,503,0,37.563927,126.830643,339.677010,37.566925,126.827438,19.851351
1,1985,M,내국인,ST-2044,ST-2031,8,8,497,500,0,37.563927,126.830643,339.677010,37.566925,126.827438,19.851351
2,1986,\N,내국인,ST-2058,ST-2031,8,8,481,490,0,37.550617,126.826881,858.806553,37.566925,126.827438,19.851351
3,1992,M,내국인,ST-2411,ST-2031,8,9,538,543,0,37.562092,126.820969,448.889646,37.566925,126.827438,19.851351
4,2000,F,내국인,ST-2411,ST-2031,8,8,529,534,0,37.562092,126.820969,448.889646,37.566925,126.827438,19.851351

In [ ]:
df_magok_trips_peak['route'] = df_magok_trips_peak.apply(lambda x: f"{x['origin_station_id']}~{x['desti_station_id']}", axis=1)